
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZAARD</h1>
    <p>The Official Online Supplier of all things Books, Movies, and Video Games</p>
   
</div>

<div class="col-md-4">
    <div>
        <img src="~/Content/images/book1.png" style="height: 175px; width: 200px" />
    </div>
</div>
<div class="col-md-4">
    <img src="~/Content/images/movie.jpg" style="height: 175px; width: 200px" />
</div>
<div class="col-md-4">
    <img src="~/Content/images/game1.jpg" style="height: 175px; width: 200px" />
</div>


    <div class="row">
        <div class="col-md-4">
            <h2>Books</h2>
            <p>

            </p>
            <p><a class="btn btn-info" href="~/BuyItems/BookDetails">Buy Items &raquo;</a></p>
            <p><a class="btn btn-info" href="~/BidItems/BookDetails">Bid Items &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Movies</h2>
            <p>

            </p>
            <p><a class="btn btn-success" href="~/BuyItems/MovieDetails">Buy Items &raquo;</a></p>
            <p><a class="btn btn-success" href="~/BidItems/MovieDetails">Bid Items &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Video Games</h2>
            <p><a class="btn btn-warning" href="~/BuyItems/GameDetails">Buy Items &raquo;</a></p>
            <p><a class="btn btn-warning" href="~/BidItems/GameDetails">Bid Items &raquo;</a></p>
        </div>

    </div>
