@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZAARD</h1>
    <p>The Official Online Supplier of all things Books, Movies, and Video Games</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>
           
        </p>
        <p><a class="btn btn-info" href="~/BuyItems/BookDetails">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>

        </p>
        <p><a class="btn btn-warning" href="~/BuyItems/GameDetails">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video Games</h2>
     
        <p><a class="btn btn-success" href="~/BuyItems/MovieDetails">Learn more &raquo;</a></p>
    </div>
  
</div>
