
@{
    ViewBag.Title = "bidErrorPage";
}

<h2>bidError Page</h2>
<p>Your bid could not be submitted at this time.</p>
<p>Please ensure the following:</p>
<p> -The Bid amount entered is greater than the current max bid.</p>
<p> -The auction has not ended.</p>

